* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* align-items: center;
  align-content: center; */
  /* color: #6B778C; */
  /* background-color: #ffffff; */
}

body {
  font-family: 'Nunito Sans Variable', sans-serif;
}

  /* giúp mình ẩn bớt những đoạn văn dài, biến nó thành ... */
.truncate {
  text-overflow: ellipsis;

  overflow: hidden;

  display: -webkit-box;

  -webkit-box-orient: vertical;

  /* số hàng hiển thị */
  -webkit-line-clamp: 1;
}

.truncate--2 {
  /* số hàng hiển thị */
  -webkit-line-clamp: 2;

  word-break: break-all;
}

.truncate--3 {
  /* số hàng hiển thị */
  -webkit-line-clamp: 3;

  word-break: break-all;
}

.css-hyum1k-MuiToolbar-root {
  max-width: 100%;
}
.css-1s0ymei-MuiGrid-root {
  width: 100%;
  margin: 0px;
  padding: 10px;
}

.ScrollbarsCustom-Track {
  width: 20px !important;
}

.ScrollbarsCustom-Thumb {
  height: 100px !important;
}

